<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        <a href="{% url 'learning_logs:index' %}">Learning Logs</a> - 
        <a href="{% url 'learning_logs:topics' %}">Topics</a>
        {% if user.is_authenticated %}
        <p>Hello {{user.username}}</p>
        <!-- the normal method of using users:logout in anchor tag no longer works -->
        <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            - <button type="submit">Logout</button>
        </form>
        {% else %}
         - <a href="{% url 'users:login' %}">Login</a>
         - <a href="{% url 'users:register' %}">Register</a>
        {% endif %}
    </p>
    {% block content %}
    {% endblock content%}
</body>
</html>
