{% extends "learning_logs/base.html" %}

{% block content %}
    <h1>
        Topics: {{topic}}
    </h1>
    <h2>
        Entires:
    </h2>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
    <ul>
        {% for entry in entries %}
        <li> 
            <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
            <p>{{ entry.text|linebreaks }}</p>
            <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit Entry</a>
        </li>        
            {% empty %}
            <li> The list is empty </li>
        {% endfor %}
    </ul>
{% endblock content %}